.label-tag {
    width: 96px;
    margin: 8px;
    padding: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.label-list ul {
   list-style: none; 
   text-align: center;
}

.label-list ul li {
    display: inline-block;
}